* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
    background-color: #000000;
    color: white;
    display: flex;
    padding-right: 15px;
    flex-wrap: wrap;
}
nav a {
    color: white;
    text-decoration: none;
}
nav .menubar {
    display: none;
    justify-content: flex-end;
    align-items: center;
    background-color: inherit;
}
.navbar-collapse {
    flex-grow: 1;
    display: flex;
    color: inherit;
    background-color: inherit;
}
.navbar-item {
    width: 33.3%;
    height: 100%;
    text-align: center;
    font-size: larger;
    letter-spacing: 0.25rem;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-item a {
    text-decoration: none;
}
.navbar-item a:hover {
    background-color: aliceblue;
    padding: 15px 15px 15px 15px;
    color: #000000;
}



@media  screen and (max-width: 768px) {
    nav .menubar {
        display: flex;
        flex-grow: 1;
    }
    .navbar-item {
        width: 100%;
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-collapse {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}
